:root {
  --white: #FFF;
  --lightGray: #d6e2f0;
  --grayishBlue: #7b879d;
  --darkBlue: #1f3251;
  --qrBlue : #2b7dfa;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

p {
  font-size: 15px;
  text-align: center;
}

img {
  width: 100%;
}

.card {
  min-height: 400px;
  max-width: 250px;
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  margin: 0 10px;
}

.qr-code-container{
  padding: 30px;
  background-color: var(--qrBlue);
  border-radius: 10px;
}

h1 {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: var(--darkBlue);
}

.text-qr p {
  font-weight: 400;
  color: var(--grayishBlue);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  padding: 5px 0;
}


a {
  text-decoration: none;
  color: var(--grayishBlue);
}